{% extends "lista/base.html" %}


{% block content %}
<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td, th {
  border: 1px solid #dddddd;
  text-align:center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
<table style="width:25%">


<table align="center">	

<h2>Tabla de usuarios</h2>
	<tr>
		<th>Usuario</th>  
		<th>BattlePoints</th>
	</tr>
{% for item in query_results %}
	<tr>
		<td>{{item.name}}</td>  
		<td>{{item.bp}}</td>
	</tr>	
{% endfor %}
</table>

{% endblock %}